<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>音声認識</h2>
<button id="btn">start</button>
<div id="content"></div>

<script>
  const speech = new webkitSpeechRecognition();
  speech.lang = 'th-TH';

  const btn = document.getElementById('btn');
  const content = document.getElementById('content');

  btn.addEventListener('click', function() {
    speech.start();
  })

  speech.addEventListener('result', function(e) {
    console.log(e);

    const text = e.results[0][0].transcript;
    content.innerText = text;
  });

</script>

<br>

<%= link_to 'New User', new_user_path %>
