<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<button id="speech_btn">SPEECH</button>

  <div id="speech_out">
    <p>TEST HERE</p>
</div>

<script>
var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition

var speech = new SpeechRecognition();
speech.lang = "ja-JP";

document.querySelector("#speech_btn").addEventListener("click", function(e){
  speech.start();
});

speech.onresult = function(e){
  speech.stop();
  console.log(e.results);

  document.querySelector("#speech_out").innerHTML += "<p>You speak: " + e.results[0][0].transcript + "</p>";

};

speech.onend = () => {
  console.log("Speech Recognition is end.");
  speech.start();
}

</script>

<br>

<%= link_to 'New User', new_user_path %>
